In [ ]:
1. Explain different types of views. Demonstrate with suitable examples.

In [ ]:
There are 2 types of Views in SQL
1.Simple View
        Simple views can only contain a single base table.
2.Complex View
        Complex views can be constructed on more than one base table.
E.g of Simple View
CREATE VIEW Employee AS
SELECT Empid, Empname
FROM Employee
WHERE Empid > 10;
E.g of Complex View
CREATE VIEW Emp_Dept AS
SELECT e.emp_id, d.dept_id, e.emp_name FROM Employee e, Department d WHERE e.dept_id=d.dept_id;

In [ ]:
2. What is the difference between function and stored procedure? Write syntax for creating functions and stored procedures.

In [ ]:
1. Return value - The function must return a value but in Stored Procedure it is optional. Even a procedure can return zero or n values.
2. Calling - Functions can be called from Procedure where as Procedures cannot be called from a Function.
3. Select - The procedure allows SELECT as well as DML(INSERT/UPDATE/DELETE) statement in it whereas Function allows only SELECT statement in it.
Syntax For Function

DELIMITER $$
CREATE function function_name( argument datatype) returns return_datatype
BEGIN
 body of function
END; $$
DELIMITER ;

Syntax For Stored procedure
    
DELIMITER //
CREATE PROCEDURE procedure_name(IN/OUT variable_name datatype)
BEGIN
  Procedure body....
END//
DELIMITER ;

In [ ]:
3. What is an index in SQL? What are the different types of indexes in SQL?

In [ ]:
Index:- Indexes are special lookup tables that need to be used by the database search engine to speed up data 
        retrieval. An index is simply a reference to data in a table.
Types of indexes:
1.Unique Indexes
2.Composite Index
3.Implicit Indexes

In [ ]:
4.Showcase an example of exception handling in SQL stored procedure.

In [ ]:
DELIMITER $$

CREATE PROCEDURE TestProc()
BEGIN

    DECLARE EXIT HANDLER FOR 1146 
    SELECT 'Please create table abc first' Message; 
        
    SELECT * FROM abc;
END$$

DELIMITER ;
call TestProc();

In [ ]:
5.Create a SQL function to split strings into rows on a given character? 
Input String: Stephen;peter;berry;Olivier;caroline;

In [ ]:
CREATE DEFINER=`root`@`localhost` PROCEDURE `string_split`(str varchar(50), deli varchar(10))
BEGIN
	declare s_min int default 1;
    declare s_max int;
    declare n_str varchar(50) default '';
    
	set s_max= length(str)-length(replace(str,deli,''));
    set str= (case when right(str,1)=deli then str else concat(str,deli) end);
    
    drop temporary table if exists temp;
    create temporary table temp(id int auto_increment primary key, item varchar(15));
    
    while (s_min <= s_max) do
		begin
			set n_str = substring(str,1,instr(str,deli)-1);
            insert into temp(item) values(n_str);
			set str= substring(str,instr(str,deli)+1);
            set s_min = s_min + 1;
        end;
	end while;
    select * from temp;
    
END

call string_split('Stephen;peter;berry;Olivier;caroline;',';');